@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<InputNumber
    @bind-Value=@numberValue
    @oninput=@OnInput
    />       

<InputText
    @bind-Value=@stringValue
    @oninput=@OnInput />

@code {
    public int numberValue = 1;
    public string stringValue = "abc";
    public void OnInput(ChangeEventArgs e)
    {
        var newValue = e.Value;
    }
}